html {
    width: 100%
}

.site-sticky {
    position: fixed;
}

body {
    font-size: 16px;
    font-family: racingsans;
    font-weight: 400;
    color: #262626;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #e1e1e1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: none;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a {
    outline: 0;
    text-decoration: none
}

a:active, a:focus, a:hover {
    outline: 0;
    text-decoration: none
}

p {
    line-height: 24px
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0 0 10px;
    font-weight: 400
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px
}
