
#site-footer {
    background-color: white; 
}

#site-footer .wrapper {
    padding: 0 40px
}

#site-footer .footer-top {
    padding: 10px 0
}

#site-footer .footer-top .top-menu {
    margin-bottom: 30px
}

#site-footer .footer-bottom, #site-footer .footer-middle {
    padding: 20px 0
}

#site-footer .footer-middle {
    border-bottom: 1px solid silver
}

