
#site-header .header-inner {
    background-color: white;
    border-bottom: 2px solid silver;
}

#site-header .wrapper {
    padding: 15px 40px;
    margin: 0 auto;
}

.header-title {
    color: black;
}